@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html {
    font-size: 16px;
}

body {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 6.3125rem;
    font-weight: normal;
    letter-spacing: -1.5px;
}

h2 {
    font-size: 3.9375rem;
    font-weight: normal;
    letter-spacing: -0.5px;
}

h3 {
    font-size: 3.125rem;
    font-weight: medium;
    letter-spacing: 0px;
}

h4 {
    font-size: 2.25rem;
    font-weight: normal;
    letter-spacing: 0.25px;
}

h5 {
    font-size: 1.5625rem;
    font-weight: normal;
    letter-spacing: 0px;
}

h6 {
    font-size: 1.3125rem;
    letter-spacing: 0.15px;
    font-weight: normal;
}

.text__subtitle-1 {
    font-size: 1.0625rem;
    letter-spacing: 0.15px;
    font-weight: normal;
}

.text__subtitle-2 {
    font-size: 0.9375rem;
    letter-spacing: 0.1px;
    font-weight: medium;
}

.text__body-1 {
    font-size: 1.0625rem;
    letter-spacing: 0.5px;
    font-weight: normal;
}

.text__body-2 {
    font-size: 0.9375rem;
    letter-spacing: 0.25px;
    font-weight: normal;
}

.text__caption {
    font-size: 0.8125rem;
    letter-spacing: 0.4px;
    font-weight: normal;
}

.text__overline {
    font-size: 0.625rem;
    letter-spacing: 1.5px;
    font-weight: normal;
}

button {
    font-size: 0.9375rem;
    letter-spacing: 1.25px;
    font-weight: medium;
    text-transform: uppercase;
}
