@use '../utils' as *;

.deletable {
    position: relative;

    &__icon {
        display: block;
        position: absolute;
        right: -2rem;
        top: -0.3rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: $error;
        transition: $animate-hover;

        &:hover {
            color: $error-light;
        }
    }
}
