@import '../utils/variables';

.section__container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: $section-background;
    padding: 2rem 3rem;
    border-radius: 1rem;
    box-shadow: 0 5px 15px rgba($shadow-color, 0.1);
}

.section__title {
    font-weight: 800;
    color: $secondary;
    margin-bottom: 1rem;
    display: inline-block;
    position: relative;
}

.section__edit-title {
    position: absolute;
    font-size: small;
    right: -3rem;
    top: 0rem;
    background-color: $primary;
    color: $icon-color;
    padding: 0.5rem;
    border-radius: 0.2rem;
    cursor: pointer;

    transition: $bg-hover;

    &:hover {
        background-color: darken($primary, 5%);
    }
}
