@use '../utils' as *;

.home__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3rem;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba($shadow-color, 0.05);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: $section-background;
}

.viewdata {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;

    &__content {
        margin-bottom: 0.5rem;
    }

    &__title {
        text-transform: capitalize;
        margin-bottom: 0.2rem;
        font-weight: 500;
        color: $secondary;
    }

    &__text {
        color: $secondary-light;
        border-bottom: 1px solid $secondary;
        padding-bottom: 0.2rem;
    }
}
